<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Admin Profile</title>

</head>
<body>
	<th:block th:insert="~{Header.html}"></th:block>

	<div class="container-fluid">

		<div class="card">

			<div class="card-header bg-primary text-center text-white">
				<h5>Admin Profile Details</h5>
			</div>

			<div class="card-body">
				<div class="row p-2">
					<div class="col-4">Name</div>
					<div class="col-6">
						<p class="form-control">[[${name}]]</p>
					</div>
				</div>
				
				<div class="row p-2">
					<div class="col-4">Email</div>
					<div class="col-6">
						<p class="form-control">[[${email}]]</p>
					</div>
				</div>
				
				<div class="row p-2">
					<div class="col-4">UserName</div>
					<div class="col-6">
						<p class="form-control">[[${username}]]</p>
					</div>
				</div>
							
			</div>

			<div class="card-footer  bg-warning text-center ">LibraryMS@2024</div>


		</div>


	</div>


</body>
</html>