<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Change Password Form</title>

</head>
<body>
	<th:block th:insert="~{Header.html}"></th:block>
	
	<div class="container-fluid">

		<div class="card">

			<div class="card-header bg-primary text-center text-white">
				<h5>Change Password</h5>
			</div>

			<div class="card-body">
				<form action="/changePassword" method="post">
					<div class="row p-2">
						<div class="col-4">Current Password</div>
						<div class="col-6">
							<input type="password" name="password" class="form-control" required>
						</div>
					</div>

					<div class="row p-2">
						<div class="col-4">New Password</div>
						<div class="col-6">
							<input type="password" name="newpassword" class="form-control" required>
						</div>
					</div>
					
					<div class="row p-2">
						<div class="col-4">Confirm New Password</div>
						<div class="col-6">
							<input type="password" name="confirmnewpassword" class="form-control" required>
						</div>
					</div>
					
										
					<div class="row p-2">
						<div class="col-4"></div>
						<div class="col-6">
							<input type="submit" value="Change Password" class="btn btn-success">
						</div>
					</div>
					<p style="color:red; text-align:center; font-size:20px">[[${error}]]</p>
					<p style="color:green; text-align:center; font-size:20px">[[${message}]]</p>
				</form>

			</div>

			<div class="card-footer  bg-warning text-center ">LibraryMS@2024</div>


		</div>


	</div>


</body>
</html>